/*----------------------------------GENERAL--------------------------------*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  /*-moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;*/
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

nav,
footer,
header,
aside,
main,
figure,
figcaption,
details,
article,
section {
  display: block;
  font: inherit;
}

/*--------------------------------OTHER--------------------------------*/
summary {
  display: list-item;
}

template {
  display: none;
}

ul li,
ol li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  /*content: none;*/
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a,
a:visited {
  text-decoration: none;
  background-color: transparent;
}

a {
  color: inherit;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  /*text-decoration: underline dotted;*/
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  display: block;
  border-style: none;
  max-width: 100%;
  height: auto;
}

progress {
  vertical-align: baseline;
}

[hidden] {
  display: none;
}

/*---------------------------FORM--------------------------------*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

input,
button,
textarea,
optgroup,
select {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

input::-ms-clear {
  display: none;
}

textarea {
  overflow: auto;
}

button,
select {
  text-transform: none;
}

button {
  background-color: transparent;
  cursor: pointer;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.woff2"), url("../fonts/Poppins-Light.woff"), url("../fonts/Poppins-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff2"), url("../fonts/Poppins-Medium.woff"), url("../fonts/Poppins-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.woff2"), url("../fonts/Poppins-Bold.woff"), url("../fonts/Poppins-Bold.ttf");
  font-weight: 700;
}
body {
  line-height: 1.7;
  font-size: 14px;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 300;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.container-lg {
  padding-left: calc(50vw - 620px);
  padding-right: calc(50vw - 620px);
}
@media screen and (max-width: 1240px) {
  .container-lg {
    padding-left: calc(50vw - 550px);
    padding-right: calc(50vw - 550px);
  }
}
@media screen and (max-width: 1160px) {
  .container-lg {
    padding-left: calc(50vw - 480px);
    padding-right: calc(50vw - 480px);
  }
}
@media screen and (max-width: 960px) {
  .container-lg {
    padding-left: calc(50vw - 380px);
    padding-right: calc(50vw - 380px);
  }
}
@media screen and (max-width: 768px) {
  .container-lg {
    padding-left: calc(50vw - 314px);
    padding-right: calc(50vw - 314px);
  }
}
@media screen and (max-width: 640px) {
  .container-lg {
    padding-left: calc(50vw - 250px);
    padding-right: calc(50vw - 250px);
  }
}
@media screen and (max-width: 520px) {
  .container-lg {
    padding-left: calc(50vw - 180px);
    padding-right: calc(50vw - 180px);
  }
}
@media screen and (max-width: 450px) {
  .container-lg {
    padding-left: calc(50vw - 150px);
    padding-right: calc(50vw - 150px);
  }
}
@media screen and (max-width: 370px) {
  .container-lg {
    padding-left: calc(50vw - 135px);
    padding-right: calc(50vw - 135px);
  }
}

.container-md {
  padding-left: calc(50vw - 408px);
  padding-right: calc(50vw - 408px);
}
@media screen and (max-width: 1160px) {
  .container-md {
    padding-left: calc(50vw - 430px);
    padding-right: calc(50vw - 430px);
  }
}
@media screen and (max-width: 960px) {
  .container-md {
    padding-left: calc(50vw - 330px);
    padding-right: calc(50vw - 330px);
  }
}
@media screen and (max-width: 768px) {
  .container-md {
    padding-left: calc(50vw - 234px);
    padding-right: calc(50vw - 234px);
  }
}
@media screen and (max-width: 640px) {
  .container-md {
    padding-left: calc(50vw - 170px);
    padding-right: calc(50vw - 170px);
  }
}

:root {
  --mainBlackColour: #212529;
  --mainWhiteColour: #F8F9FA;
  --spanColour: #E5E5E5;
  --paragraphColour: #6C757D;
  --articleColour: rgba(73, 80, 87, 0.5);
  --accentArticleColour: #495057;
  --bgGreyColor: rgba(94, 94, 94, 0.05);
  --linkColor: rgba(248, 249, 250, 0.5);
  --borderColour: #C4C4C4;
  --accentColour: #DDBEA9;
  --btnBgColour: rgba(33, 37, 41, 0.3);
  --btnBorderRadius: 3px;
  --pictureBorderRadius: 5px;
  --contentPadding: 80px;
  --sectionPadding: 100px;
}

body {
  line-height: 1.7;
  font-size: 14px;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 300;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.container-lg {
  padding-left: calc(50vw - 620px);
  padding-right: calc(50vw - 620px);
}
@media screen and (max-width: 1240px) {
  .container-lg {
    padding-left: calc(50vw - 550px);
    padding-right: calc(50vw - 550px);
  }
}
@media screen and (max-width: 1160px) {
  .container-lg {
    padding-left: calc(50vw - 480px);
    padding-right: calc(50vw - 480px);
  }
}
@media screen and (max-width: 960px) {
  .container-lg {
    padding-left: calc(50vw - 380px);
    padding-right: calc(50vw - 380px);
  }
}
@media screen and (max-width: 768px) {
  .container-lg {
    padding-left: calc(50vw - 314px);
    padding-right: calc(50vw - 314px);
  }
}
@media screen and (max-width: 640px) {
  .container-lg {
    padding-left: calc(50vw - 250px);
    padding-right: calc(50vw - 250px);
  }
}
@media screen and (max-width: 520px) {
  .container-lg {
    padding-left: calc(50vw - 180px);
    padding-right: calc(50vw - 180px);
  }
}
@media screen and (max-width: 450px) {
  .container-lg {
    padding-left: calc(50vw - 150px);
    padding-right: calc(50vw - 150px);
  }
}
@media screen and (max-width: 370px) {
  .container-lg {
    padding-left: calc(50vw - 135px);
    padding-right: calc(50vw - 135px);
  }
}

.container-md {
  padding-left: calc(50vw - 408px);
  padding-right: calc(50vw - 408px);
}
@media screen and (max-width: 1160px) {
  .container-md {
    padding-left: calc(50vw - 430px);
    padding-right: calc(50vw - 430px);
  }
}
@media screen and (max-width: 960px) {
  .container-md {
    padding-left: calc(50vw - 330px);
    padding-right: calc(50vw - 330px);
  }
}
@media screen and (max-width: 768px) {
  .container-md {
    padding-left: calc(50vw - 234px);
    padding-right: calc(50vw - 234px);
  }
}
@media screen and (max-width: 640px) {
  .container-md {
    padding-left: calc(50vw - 170px);
    padding-right: calc(50vw - 170px);
  }
}

.header {
  padding-top: 36px;
  padding-bottom: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}

.header__navbar-menu, .header__socials {
  display: flex;
  gap: 22px;
  align-items: center;
  justify-content: center;
}
.header__navbar-menu-item a, .header__socials-item a {
  display: block;
  color: var(--articleColour);
  font-size: 12px;
  line-height: 2.1;
  font-weight: 700;
  padding: 0 4px;
  border: 1px solid transparent;
}
.header__navbar-menu-item a:hover, .header__socials-item a:hover {
  border: 1px solid var(--articleColour);
  border-radius: var(--btnBorderRadius);
}
.header__navbar-menu-item a:active, .header__socials-item a:active {
  position: relative;
}
.header__navbar-menu-item a:active:before, .header__socials-item a:active:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background-color: var(--accentColour);
  border-radius: var(--btnBorderRadius);
}
.header__navbar-menu-item .active {
  color: var(--accentArticleColour);
  position: relative;
}
.header__navbar-menu-item .active:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background-color: var(--accentColour);
  border-radius: var(--btnBorderRadius);
}
.header__socials-item:nth-child(4) {
  height: 25px;
  border: 1px solid var(--spanColour);
}
.header__socials-item:last-child svg {
  margin-top: 70%;
}

.hero {
  position: relative;
  padding-top: 200px;
  background-color: var(--mainWhiteColour);
  font-size: 12px;
  color: var(--accentArticleColour);
}
.hero__article-bg {
  background: url("../../../img/clothes.png"), var(--mainBlackColour) center/cover no-repeat;
  width: 100%;
  padding-top: 250px;
  padding-bottom: 250px;
}
.hero__article-content {
  border-bottom: 1px solid var(--spanColour);
  margin-left: 212px;
  margin-bottom: 16px;
}
.hero__article-content span, .hero__article-content-desc {
  display: block;
  padding-bottom: 15px;
}
.hero__article-content-title {
  font-size: 25px;
  color: var(--mainBlackColour);
  font-weight: 700;
  max-width: 500px;
  width: 100%;
  margin-bottom: 15px;
}
.hero__article-content-desc {
  max-width: 393px;
  width: 100%;
}
.hero__article-info {
  display: flex;
  gap: 50px;
  align-items: center;
  padding-bottom: var(--sectionPadding);
  margin-left: 212px;
}
.hero__article-desc {
  color: var(--paragraphColour);
}
.hero__article-desc:first-child {
  padding-top: var(--sectionPadding);
  margin-bottom: 30px;
}
.hero__article-desc:last-child {
  padding-bottom: var(--sectionPadding);
}
.hero__article-title {
  max-width: 605px;
  width: 100%;
  padding-top: var(--sectionPadding);
  padding-bottom: var(--sectionPadding);
  font-size: 25px;
  color: var(--mainBlackColour);
  font-weight: 700;
}
.hero__article-data {
  display: grid;
  grid-template-columns: repeat(4, 181px);
  grid-template-rows: auto auto;
  gap: 10px 30px;
  align-items: center;
  padding-bottom: 20px;
}
.hero__article-data-title {
  font-weight: 500;
  color: var(--mainBlackColour);
}
.hero__article-data-info {
  color: var(--paragraphColour);
}
.hero__article-pages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 38px;
  padding-top: 37px;
  background: var(--bgGreyColor);
}
.hero__article-pages a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--mainBlackColour);
  font-weight: 500;
}
.hero__article-pages a:hover {
  color: var(--accentColour);
  opacity: 0.7;
}
.hero__article-pages a:hover svg path {
  fill: var(--accentColour);
  opacity: 0.7;
}
.hero__article-pages a:active {
  opacity: 1;
}
.hero__article-pages a:active svg path {
  opacity: 1;
}
.hero__article-slider .owl-dots {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}
.hero__article-slider .owl-dots .owl-dot span {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 1px solid var(--borderColour);
  background-color: transparent;
}
.hero__article-slider .owl-dots .owl-dot.active span {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--mainBlackColour);
}
.hero__article-slider .owl-stage {
  display: flex;
  align-items: center;
}
.hero__article-slider .owl-item {
  text-align: center;
}
.hero__article-slider a {
  max-width: 605px;
  display: inline-block;
}

.pages__nav {
  margin-top: 40px;
  padding-bottom: var(--sectionPadding);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pages__nav-list {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
}
.pages__nav-list-link {
  display: flex;
  border: 1px solid var(--borderColour);
  border-radius: var(--btnBorderRadius);
  align-self: center;
  font-weight: 700;
  font-size: 8px;
  line-height: 2.5;
  padding: 2px 13px;
  color: var(--paragraphColour);
  text-transform: uppercase;
}
.pages__nav-list-link:hover, .pages__nav-list-link:focus {
  background-color: var(--btnBgColour);
}
.pages__nav-list-link:active {
  background-color: var(--accentColour);
}
.pages__nav-share a {
  display: flex;
  padding: 2px 5px;
  border: 1px solid transparent;
  gap: 5px;
  align-items: center;
  text-transform: uppercase;
  font-size: 8px;
  border-radius: var(--btnBorderRadius);
  line-height: 2.5;
  font-weight: 700;
  color: var(--paragraphColour);
}
.pages__nav-share a:hover {
  border: 1px solid var(--borderColour);
}
.pages__nav-share a:active {
  background-color: var(--accentColour);
}

.footer {
  padding-top: var(--sectionPadding);
  padding-bottom: var(--sectionPadding);
  background: var(--mainBlackColour);
}
.footer__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(229, 229, 229, 0.2);
}
.footer__content-menu, .footer__content-social, .footer__content-rights {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}
.footer__content-menu-item a, .footer__content-social-item a, .footer__content-rights-item a {
  color: var(--linkColor);
  font-size: 12px;
  line-height: 2.1;
  font-weight: 500;
  border: 1px solid transparent;
  padding: 2px;
}
.footer__content-menu-item a:hover, .footer__content-social-item a:hover, .footer__content-rights-item a:hover {
  color: var(--mainWhiteColour);
  border: 1px solid var(--borderColour);
}
.footer__content-menu-item a:active, .footer__content-social-item a:active, .footer__content-rights-item a:active {
  position: relative;
}
.footer__content-menu-item a:active:after, .footer__content-social-item a:active:after, .footer__content-rights-item a:active:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background-color: var(--accentColour);
  border-radius: var(--btnBorderRadius);
}

@media screen and (max-width: 640px) {
  .footer__content {
    flex-direction: column;
    align-items: center;
  }
  .footer__content-menu, .footer__content-rights {
    flex-direction: column;
    align-items: center;
  }
  .footer__content-menu {
    gap: 10px;
    margin: 15px 0;
  }
}
@media screen and (max-width: 640px) {
  .footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer__content {
    padding-bottom: 20px;
  }
}

/*# sourceMappingURL=singlepage.css.map */
