@font-face{
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Light.woff2'),
    url('../fonts/Poppins-Light.woff'),
    url('../fonts/Poppins-Light.ttf');
    font-weight: 300;
}
@font-face{
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.woff2'),
    url('../fonts/Poppins-Medium.woff'),
    url('../fonts/Poppins-Medium.ttf');
    font-weight: 500;
}
@font-face{
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.woff2'),
    url('../fonts/Poppins-Bold.woff'),
    url('../fonts/Poppins-Bold.ttf');
    font-weight: 700;
}
