.header__navbar{
    &-menu{
        display: flex;
        gap: 25px;
        align-items: center;
        justify-content: center;
        &-item{
            position: relative;
            &:nth-child(5){
                width: 18px;
                border: 1px solid rgba(229, 229, 229, 0.5);
                transform: rotate(90deg);
            }
            &:last-child{
                svg{
                    margin-top: 80%;
                }
            }
            &:first-child a{
                position: relative;
                &:before{
                    content: '';
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 100%;
                    height: 2px;
                    background-color: var(--accentColour);
                    border-radius: var(--btnBorderRadius);
                }
            }
            &:nth-child(2),
            &:nth-child(3){
                a{
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    &:hover{
                        svg{
                            path{
                                fill: var(--mainWhiteColour);
                                fill-opacity: 1;
                            }
                        }
                    }
                }
                &:hover > ul{
                    display: block;
                }
            }
        }
        &-link,
        &-inner-link{
            display: flex;
            font-size: 12px;
            line-height: 2.1;
            font-weight: 500;
            color: var(--linkColor);
            
            &:hover{
                color: var(--mainWhiteColour);
            }
            &:active{
                position: relative;
                &:after{
                    content: '';
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 100%;
                    height: 2px;
                    background-color: var(--accentColour);
                    border-radius: var(--btnBorderRadius); 
                }
            }
        }
        &-inner{
            border-radius: var(--pictureBorderRadius);
            padding: 20px;
            flex-direction: column;
            gap: 10px;
            align-items: center;
            justify-content: flex-start;
            transform: translateX(12%);
            position: absolute;
            top: 26px;
            left: -50%;
            width: 136px;
            max-height: 170px;
            background: var(--mainBlackColour);
            display: none;
        }
    }
}