:root{
    --mainBlackColour: #212529;
    --mainWhiteColour: #F8F9FA;

    --spanColour: #E5E5E5;
    --paragraphColour: #6C757D;
    --articleColour: rgba(73, 80, 87, 0.5);
    --accentArticleColour: #495057;

    --bgGreyColor: rgba(94, 94, 94, 0.05);
    --linkColor: rgba(248, 249, 250, 0.5);

    --borderColour: #C4C4C4;

    --accentColour: #DDBEA9;
    --btnBgColour: rgba(33, 37, 41, 0.3);

    --btnBorderRadius: 3px;
    --pictureBorderRadius: 5px;
    --bigBorderRadius: 20px;

    --contentPadding: 80px;
    --sectionPadding: 100px;
}